<div>
    <div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/work">Work</a></li>
            <li><a href="/contacts">Contact</a></li>
            <% if (!locals.isAuth){ %> 
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
            <% } %> 
            <%  if(locals.isAdmin){ %> 
            <li><a href="/images">Add Image</a></li>
            <% } %> 
            <% if(locals.isAuth){ %> 
                <li><span><a href="/logout">Log out</a></span></li>
                <% } %> 
        </ul>
    </div>
</div>