<html>

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159411627-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-159411627-1');
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>Work | David Mugwe</title>
    <!-- <link rel="icon" type="image/png" href="assets/img/favicon.png"> -->
</head>

<body id="contact-body" style="overflow-x: hidden;">
    <div>
        <%- include("./partials/navbar") %> 
        <div class=" fadeIn row" style="width:100vw;height:auto;animation-duration: 1.5s;">
            <div class="col-md-12" id="left-hero">
                <h1 class="hero-tag contact-hero  fadeInLeft">My Work.</h1>
                <p class="hero-des contact-des  fadeIn delay-1s">Take a look at some of my photoshoots I've done,
                </p>
                <!-- <div class="feedback"><a href="https://d474b570.nolt.io/">Have any feedback or suggestion?</a></div> -->
            </div>
        </div>
        <!--Content-->
        <div class="animated bounceInUp delay-1s">
            <div class="row" id="work-row">
                <div class="col-md-6 col-sm-12">

                    <div class="work-des ">

                    </div>
                </div>
            </div>
            <div class="row work-double-row">
                <% for(image of images){ %> 
                <div class="col-md-6 col-sm-12  bounceInLeft delay-3s">
                    <div class="work-hero-card">
                        <img class="work-card-hero-img" src="<%= image.image_src %> ">
                        <h1>David Mugwe</h1>
                        <div id="work-text">Graduation</div>
                    </div>
                </div>
                <% } %> 
                
            </div>
            <div class="row work-double-row" id="row-3">
               

                </div>
            </div>
            <div class="row work-double-row" id="row-3">
    
            </div>

            <div class="row work-double-row" id="row-3">
                <div class="col-md-6 col-sm-12  bounceInLeft delay-3s">


                </div>
            </div>


            <div class="row work-double-row" id="row-3">
                
            </div>
            
            <div class="row work-double-row" id="row-3">
                <!-- <div class="col-md-6 col-sm-12  bounceInRight delay-3s">
                    <div class="work-hero-card">

                        <img class="work-card-hero-img" src="assets/img/work/food/hero.png">
                        <h1>SeeFood</h1>
                        <div id="work-text">UI/UX</div>
                    </div>
                </div>
            </div> -->
            
        </div>
            <div class="footer-full  fadeIn delay-2s">
                <div id="contact-social" class="social-icons" style="display: inline;">
                    <a target="_blank" href="mailto:davidmugwe19@gmail.com"><i class="fas fa-envelope"></i></a>
                    <a target="_blank" href=""><i class="fab fa-instagram"></i></a>
                    <a  target = "_blank" href="https://wa.me/+254741647448"><i class="fab fa-whatsapp" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="menu-wrap">
            <input type="checkbox" class="toggler">
            <div class="hamburger">
                <div></div>
            </div>
            <div class="menu">
                <%- include('./partials/burger') %> 
            </div>
        </div>
</body>

</html>